{
    "name": "Your organization",
    "website": "https://example.org/",
    "frontend_url": "https://example.org/certificate/index.html",
    "admin_token": "1234",
    "name_horizontal_pos": 375,
    "name_vertical_pos": 600,
    "serial_number_horizontal_pos": -1,
    "serial_number_vertical_pos": -1,
    "date_horizontal_pos": -1,
    "date_vertical_pos": -1
}
